* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  max-width: 320px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header-studio {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fefefe;
}
.header-container {
  display: flex;
  gap: 149px;
  align-items: center;
}
.webstudio-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration-line: none;
  padding: 16px 0;
}
.webstudio-logo .span-logo {
  color: #2e2f42;
}

.navigation-list-container {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
.navigation-adres-list {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu {
  border: none;
  background-color: #fff;
  padding: 0;
  width: 24px;
  height: 24px;
}
.effective-solutions {
  background-color: #2e2f42;
  padding-bottom: 72px;
  padding-top: 72px;
  max-width: 320px;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/baground-fone-x2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.effective-solutions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.efective-solutions-titles {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  max-width: 496px;
}
.button-title {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.button-title:hover,
.button-title:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.features-item {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.features-list-title {
  text-align: center;
}
.features-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  fill: #8e8f99;
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-name-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}
.team-presentation {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.team-list {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
}
.team-list-title {
  padding: 32px 16px;
}
.team-name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-icon-container {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}
.team-icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.team-icon {
  fill: #f4f4fd;
}

.portfolio-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px 24px;
}
.portfolio-list-title {
  width: 288px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.img-overflow {
  position: relative;
  overflow: hidden;
}
.img-portfolio {
  width: 264px;
}

.portfolio-list-title:hover .overlay-text,
.portfolio-list-title:focus .overlay-text {
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.portfolio-container-list {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.futer-fone {
  background-color: #2e2f42;
  padding: 100px 0;
}
.futer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.futer-text {
  text-align: center;
}
.webstudio-logo-futer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration-line: none;
}
.webstudio-logo-futer .span-logo-futer {
  color: #f4f4fd;
}
.futer-text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  width: 288px;
}
.social-container {
  text-align: center;
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fefefe;
}
.futer-icon-container {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.futer-icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.futer-icon-link:hover,
.futer-icon-link:focus {
  background-color: #31d0aa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.futer-form {
  flex-direction: column;
  text-align: center;
}
.subscribe-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.futer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2e2f42;
  padding: 8px 16px;
  color: #fff;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}
.futer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.futer-input:hover,
.futer-input:focus {
  border: 1px solid #31d0aa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}

.subscribe-button {
  display: flex;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #31d0aa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  position: relative;
  width: 288px;
  height: 623px;
  padding: 72px 16px 24px 16px;
  text-align: right;
}

.modal-back-button {
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  border: 1px;
}
.modal-icon {
  fill: #2e2f42;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.modal-back-button:hover .modal-icon,
.modal-back-button:focus .modal-icon {
  fill: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal-back-button:hover,
.modal-back-button:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2d2e41;
  margin-bottom: 16px;
}
.modal-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-input-container {
  position: relative;
}
.modal-input {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  padding-left: 38px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.modal-textarea {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  padding: 8px 16px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:placeholder-shown {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: #4d5ae5;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}
.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, fill;
}
.checkbox {
  margin-top: 16px;
}
.checkbox-container {
  display: flex;
  gap: 8px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}
.visually-hidden:checked + .checkbox-label .modal-submit-icon {
  opacity: 1;
  transform: scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}
.visually-hidden:checked + .checkbox-label .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
}
.modal-submit-icon {
  fill: white;
  opacity: 0;
  transform: scale(0.5);
  transition:
    opacity cubic-bezier(0.4, 0, 0.2, 1),
    transform cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-left: 8px;
}
.privacy-policy {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.button-submit {
  margin-top: 24px;
  text-align: center;
}
.modal-submit-button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.menu-mobile {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-mobile.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-menu-mobile {
  max-width: 320px;
  padding: 24px 24px 40px 16px;
  text-align: right;
  background-color: #fff;
}
.mobile-back-button {
  border-radius: 100%;
  cursor: pointer;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  border: 1px;
  margin-bottom: 4px;
}
.modal-back-button:hover .modal-icon,
.modal-back-button:focus .modal-icon {
  fill: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.mobile-navigation-list {
  text-align: left;
  margin-bottom: 148px;
}
.navigation-studio-mobile {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration-line: none;
  padding-top: 24px;
  padding-bottom: 20px;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.navigation-studio:hover,
.navigation-studio:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.navigation-mobile {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #2e2f42;
  text-decoration-line: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.navigation-adres {
  text-align: left;
  font-style: normal;
  display: block;
  gap: 24px;
}

.contacts-email:hover,
.contacts-email:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.contacts-email {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration-line: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.contacts-number {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  text-decoration-line: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.mobile-icon-container {
  display: flex;
  margin-top: 36px;
  gap: 40px;
}

@media (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (-webkit-min-device-pixel-ratio: 2) {
  .effective-solutions {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/baground-fone-x2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-container {
    gap: 120px;
  }
  .navigation-list-container {
    opacity: 1;
    position: static;
    visibility: visible;
    pointer-events: auto;
  }
  .navigation-container {
    display: flex;
    align-items: center;
    gap: 76px;
  }
  .navigation-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .navigation-studio {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration-line: none;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .navigation-studio:hover,
  .navigation-studio:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .navigation-studio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .navigation {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration-line: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .navigation:hover,
  .navigation:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }

  .navigation-adres-list {
    opacity: 1;
    position: static;
    visibility: visible;
    pointer-events: auto;
  }
  .navigation-adres {
    display: block;
  }

  .contacts {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration-line: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .mobile-menu {
    opacity: 0;
    display: none;
    pointer-events: none;
    visibility: hidden;
  }
  .effective-solutions {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }
  .efective-solutions-titles {
    margin-bottom: 36px;
  }
  .features-list-title {
    text-align: left;
  }
  .features-item {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 72px 24px;
  }
  .features-list-title {
    width: 356px;
  }
  .features-icon-container {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
  }

  .team-presentation {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
  .team-list {
  }
  .img-portfolio {
    width: 356px;
  }
  .portfolio-item {
    flex-wrap: wrap;
    gap: 72px 24px;
    flex-direction: row;
  }
  .portfolio-list-title {
    box-shadow:
      0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 356px;
  }
  .futer-fone {
    padding-left: 108px;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .futer-text-list {
    width: 264px;
  }
  .social-container {
    text-align: left;
  }
  .futer-form {
    text-align: left;
    flex-direction: row;
  }
  .futer-container {
    align-items: stretch;
    text-align: left;
    flex-wrap: wrap;
    gap: 72px 24px;
    flex-direction: row;
  }
  .input-container {
    gap: 24px;
    flex-direction: row;
  }
  .social-container-item {
    margin-left: 0;
    margin-right: 0;
  }
  .modal {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-input {
    width: 360px;
    height: 40px;
  }

  .modal-textarea {
    width: 360px;
    height: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-container {
    display: flex;
    gap: 332px;
    align-items: center;
  }
  .navigation-container {
    gap: 76px;
  }
  .navigation-adres {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .contacts {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .effective-solutions {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/baground-fone.jpg);
  }
  .efective-solutions-titles {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .features-item {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .features-list-title {
    width: 264px;
  }
  .features-list-title {
    text-align: left;
  }
  .features-icon-container {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    position: static;
  }
  .icon-features {
    display: flex;
    justify-content: center;
    fill: #8e8f99;
  }
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-list {
    font-weight: 400;
  }
  .team-presentation {
    flex-wrap: nowrap;
  }
  .portfolio-item {
    gap: 48px 24px;
    align-items: center;
  }
  .portfolio-container-list {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
  }
  .portfolio-list-title {
     box-shadow: none;
    width: 356px;
  }
  .portfolio-list-title:hover,
  .portfolio-list-title:focus {
    box-shadow:
      0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
  }
  .img-portfolio {
    width: 356px;
  }
  .futer-fone {
    padding: 100px 0;
  }
  .futer-container {
    flex-direction: row;
    align-items: baseline;
    gap: 0;
  }
  .futer-text {
    text-align: left;
  }

  .social-container {
    margin-left: 120px;
    margin-right: 80px;
  }
  .input-container {
    gap: 24px;
  }
}
